body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f8;
}

h1 {
    color: #020202;
    text-align: center;
}

#h1:hover{
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

#div1 {
    color: #25899b;
}

#div2 {
    color: #d9ecec;
}

#div3 {
    color: #1b1a1a;
}


 .divamit{
    text-decoration: underline;
    color: red;
 }   

p {
    color: #31091d;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}