
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f8;
        /* 
        background-image: url("am.jpg");
        background-size: cover;
        background-position: center; */
    }
    

h1 {
    color: #020202;
    text-align: center;
}

#h1:hover{
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}
/* 
#div1 {
    color: #25899b;
}

#div2 {
    color: #d9ecec;
}

#div3 {
    color: #1b1a1a;
}


 .divamit{
    text-decoration: underline;
    color: red;
 }    */

p {
    color: #31091d;
    text-align: center;
    border: 1px solid #020202;
    width: fit-content;
}

/* #ab {
    display: flex;
    justify-content: center;
    align-items: center;
} */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


input {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
    display: none; /* Initially hide the list */
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    margin-top: 20px;
}
.row:hover{
    background-color: lightgray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    position: relative;
    top: 10px;
    left: 22px;
}
.item{
    position: relative;
    top: 10px;
    left: 20px;
}
.item1:hover {
    visibility: hidden;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    text-align: center;
    width:fit-content ;
    margin-left: 620px;
    padding: 5px;
  border-radius: 5px;

}
.fade {
    margin-top: 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.ba{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:500px ;
    height: 500px ;
    margin-top: 30px;
    text-align: center;
  border-radius: 5px;
  background-image: url('ab.jpg');
    background-size: cover;
    background-position: center;
}
#ab{
    display: flex;
    justify-content: center;
    align-items: center;

}